.container-contact {
    display: flex;
    justify-content: center;
    margin-top: 149px;

}

.container-contact div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 1110px;
    height: 84px;

}

.text-contact-h2 {
    width: 367px;
    height: 84px;
}

.button-contact {

    display: flex;
    align-items: center;
    justify-content: center;

    width: 168px;
    height: 48px;
    background-color: #F2F2F2;
    border: 1px solid #33323D;

}

.container-contact div a:hover {
    background-color: #33323D;
    color: #FAFAFA;
}

footer {
    background-color: #33323D;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.footer {

    display: flex;
    align-items: center;
    justify-content: space-between;


    width: 1110px;
    height: 80px;
}

.nav-footer {

    display: flex;
    align-items: center;

}

.logo-footer {
    width: 61px;
    height: 32px;

}

.nav-footer {
    display: flex;
}

.nav-footer li a {
    color: white;
    padding-left: 42px;
}

.nav-footer li {
    list-style: none;
}

.social-footer {
    width: 150px;
    height: 24px;
}

.social-footer img {
    width: 24px;
    height: 24px;
    margin-left: 15px;
}