* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    background-color: rgba(42, 21, 59, 0.877);

    margin-top: 60px;
    margin-left: 100px;
}

.borda {
    border: 2px solid gray;
    width: 270px;



}

div ul li {

    font-size: 20px;
    list-style: none;
    padding: 15px 15px 15px 40px;


}

div ul li:hover {

    list-style-image: URL(./images/seta.png);
    list-style-position: inside;
    background-color: rgb(99, 17, 17);
    padding: 15px 15px 15px 40px;
}

li a {


    color: white;
    text-decoration: none;
}