* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: purple;
    height: 70px;
    margin-left: -180px;
}

.logo-header {
    margin-left: 50vw;
    margin-top: 12px;

}

.container {
    /* background-color: red; */
    height: 400px;
    overflow: hidden;
    z-index: -1;
}

.girafa {

    width: 1366px;
    position: relative;
    bottom: 130px;

    z-index: 0;
}

.titulo {
    background-color: rgba(0, 0, 0, 0.603);
    position: relative;
    z-index: 3;

    width: 100vw;
    height: 300px;

    bottom: 500px;

}

.titulo h1 {
    text-align: center;
    color: white;
    position: relative;
    top: 33px;
}

.texto {
    margin: 20px 60px 35px 60px;
}

.texto p {
    text-align: justify;
}

.botao-inicio {
    display: inline-block;
    position: fixed;
    bottom: 0.5vh;
    right: 0.5vw;
    z-index: 1;
}

.botao-inicio img {
    width: 45px;
    cursor: pointer;

}

.bar {

    z-index: 4;
    display: inline-block;
    background-color: lightcoral;
    width: 80px;
    height: 185px;
    border-radius: 25px;

    position: fixed;
    top: 35vh;
    left: -67px;

}

.bar:hover {

    left: -22px;

}

.imagem {
    width: 45px;
    position: relative;
    top: 8px;
    right: -20px;
}

.logos {
    margin: 7px;
}