* {
    box-sizing: border-box;
}

.foto img {
    width: 500px;
    height: 500px;
    margin: 20px 0px 0px 20px;
    border-radius: 50%;
}

.borda {

    margin: 25px;

    width: 550px;
    height: 550px;
    border-radius: 50%;
    border: 5px solid rgb(192, 189, 189);
}

.pseudo img:hover {
    border-radius: 5%;
    width: 800px;
    height: 800px;
}

.borda:hover {
    border-radius: 5%;
    width: 850px;
    height: 850px;
}





/* .foto {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin: 40px 0px 0px 0px;
}

.borda {
    margin: 0px 0px 0px 0px;
    background-color: red;
    border-radius: 50%;
    width: 210px;
    height: 210px
} */