.topbar {
  height: 43px;
  background: var(--pink-900);
  margin-bottom: 75px;
}

/* -------------- switch -------------- */

.switch {
  position: relative;
  width: 88px;
  height: 58px;
}

.switch__label {
  position: absolute;
  width: 88px;
  height: 58px;
  cursor: pointer;
  background-color: var(--background);
  border-radius: 50px;
  border: 1px solid var(--pink-900);
}

.switch__input {
  position: absolute;
  display: none;
}

.switch__label {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
}

.switch__input:checked~.switch__label {
  background-color: var(--background);
}

.switch__label::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 10px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: var(--gray-900);
  transition: 0.3s;
}

.switch__input:checked~.switch__label::before {
  transform: translateX(95px);
  background-color: var(--pink-900);
  box-shadow: none;
  left: -52px;
}

/* -------------- search -------------- */
.search {
  width: 438px;
  height: 61px;
  border: 1px solid var(--pink-900);
  border-radius: 8px;
  position: relative;
}

.search__label {
  position: absolute;
  top: -11px;
  left: 60px;
  background-color: var(--background);
  display: block;
  padding: 0 30px;
  color: var(--pink-900);
}

.search__input {
  width: calc(100% - 40px);
  height: 59px;
  border: 0;
  border-radius: 8px;
  padding-left: 57px;
  background-color: var(--background);
  color: var(--gray-600);
}

.search__button {
  cursor: pointer;
}