header {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    text-align: center;

    margin: 64px 0px 64px 0px;
    height: 32px;
    width: 1110px;
    ;
}

.header-nav {

    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;
    text-decoration: none;
}

.header-nav li a {
    text-decoration: none;
    margin-left: 42px;
}

.header-nav li {
    color: #33323D;
}