.header-nav-portfolio {
    color: #5FB4A2;
}

.container-left {
    display: flex;

    justify-content: center;
}

.container-left div {

    display: flex;
    justify-content: space-between;

    margin-top: 30px;

    width: 1015px;
    height: 500px;
}

.image-portfolio img {
    width: 540px;
    height: 500px;
}

.text-right {

    align-items: center;
    justify-content: center;


    width: 350px;
    height: 500px;
    margin-left: 125px;

    padding-top: 103px;


    border-top: solid 1px #33323d32;
    border-bottom: solid 1px #33323d32;


}

.text-right-h2 {
    width: 430px;
    height: 42px;
    margin-bottom: 28px;
}

.text-right p {
    width: 354px;
    height: 120px;
    font-size: 16px;
    margin-bottom: 54px;
}

.button {

    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;


    width: 204px;
    height: 48px;
    background-color: #F2F2F2;
    border: 1px solid #33323D;

    margin-top: 24px;


}

.button:hover {
    background-color: #33323D;
    color: #F2F2F2;
}




.container-right {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.container-right div {

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1015px;
    height: 500px;

}

.container-text-left {

    align-items: center;
    justify-content: center;



    width: 350px;
    height: 500px;

    padding-bottom: 46px;

    border-top: solid 1px #33323d32;
    border-bottom: solid 1px #33323d32;
}

.container-text-left h2 {
    margin-bottom: 28px;
    margin-top: 103px;
}

.container-text-left p {
    margin-bottom: 54px;

}

.margin-fylo {
    margin-top: 80px;
}

.margin-insure {
    margin-top: 50px;
}